.Table{
  width: 100%;
  height: 100hv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head{
  width: 100%;
  height: 100hv;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.data{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.el{
  width: 16%;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: darkcyan;
}
.el1{
  width: 16%;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: cornflowerblue;
}
.el2{
  width: 16%;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mod{
  width: 70%;
  height: 500px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
}
