.Table{
  width: 100%;
  height: 100hv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head{
  width: 100%;
  height: 100hv;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.data{
  width: 100%;
  height: 100hv;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.el{
  width: 16%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: cornflowerblue;
}
